<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.component.skinlibrary2">

    <application>
        <activity
            android:name=".SkinActivity"
            android:configChanges="uiMode" /><!-- 需要配置此属性=uiMode，才能更换navigationBar  -->
    </application>

</manifest>